.div1 {
    height: 36.483890533447266px;
    /* width: 1439.9539794921875px; */
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #3772FF;
    display: flex;
    justify-content: center;
    align-items: center;
}